.noteCard {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    box-shadow: 0 0 2px 1px;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 2rem;
    text-align: left;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

}

.noteCheck {
    grid-column: 1;
    width: 1rem;
    align-self: center;
    margin: 0;
}

.noteTitle, .noteContent {
    grid-column: 2;
    margin: 0;
    padding: 0;
}

.done {
    text-decoration: line-through;
    color: gray;
}